* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: Tomato;
}

h2{
  color: #fff;
  font-family: Monospace;
}
h1{
  color: #fff;
  font-family: Monospace;
}


.bg{
    
    width: 400px;
    height: 850px;
    border-radius: 10%;
}

.img{
     border-radius: 5%;
  box-shadow: 10px 10px 5px grey;
text-align: center;
}

.column{
 background-color: #fff;
}


.column img {
  margin-top: 8px;
 
}
 
 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: red;
   text-align: center;
}



.card{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  border-radius: 10;
 margin: auto;
 background: #9dd3e1;
 
}
  
  
  
  
  h3{
    color: #fff;
  }

